<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="section-education" class="content-section wf-section">
        <div class="section-header w-container">
            <div class="div-section-header">
                <div class="title">
                    <h1 class="heading-5">🎓</h1>
                    <h1 class="h2">Educație</h1>
                </div>
            </div>
        </div>
        <div class="section-homepage w-container">
            <div class="div-text-l">
                <p class="text-education">Absolvent al Facultății de Științe Economice și Gestiunea Afacerilor, Cluj-Napoca, specializare Informatică Economică, iar în prezent sunt student, anul 2 la Master, Universitatea „1 Decembrie 1918” din Alba Iulia, specializarea Programare Avansată și Baze de Date.</p>
            </div>
            <div class="div-image-r">
                <img src="../../assets/absolvent.jpg" alt="" class="image-placement">
            </div>
        </div>
    </div>
</body>
</html>