<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="section-hobbies" class="content-section wf-section">
        <div class="section-header w-container">
            <div class="div-section-header">
                <div class="title">
                    <h1 class="heading-5">🎮</h1>
                    <h1 class="h2">Hobby-uri</h1>
                </div>
            </div>
        </div>
        <div class="section-homepage w-container">
            <div class="div-text-l">
                <p class="text-hobbies">Hobby-ul meu numărul 1 este <b>tehnologia</b>. Tot ce înseamnă tehnologie: De la telefoane, la sisteme inteligente de iluminat. Având încă de la o vârstă fragedă calculator (vorbim de vârsta de aproximativ 7 ani), am descoperit jocurile video. Am început cu jocurile video de tip single-player, deoarece pe vremea aceea nu aveam acces foarte ușor la internet, evoluînd ușor-ușor spre jocurile multi-player. De aproximativ 13 ani joc „League of Legends”, un joc în care faci parte dintr-o echipă formată din alți 4 jucători, deci o echipă de 5 oameni, iar scopul acestui joc este să câștigi cât mai multe meciuri. Am o asemenea „vechime” în acest joc, deoarece îmi place munca în echipă.</p>
            </div>
            <div class="div-image-r">
                <img src="../../assets/tehnologie.jpg" alt="" class="image-placement">
                <img src="../../assets/lol.jpg" alt="" class="image-placement">
            </div>
        </div>
    </div>
</body>
</html>