<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="section-future-plans" class="content-section wf-section">
        <div class="section-header w-container">
            <div class="div-section-header">
                <div class="title">
                    <h1 class="heading-5">📇</h1>
                    <h1 class="h2">Planuri de viitor</h1>
                </div>
            </div>
        </div>
        <div class="section-homepage w-container">
            <div class="div-text-l">
                <p class="text-future-plans">Planurile mele de viitor sunt unele, zic eu, realizabile. Mi-aș dori să fac parte dintr-o echipă formată din oameni frumoși, alături de care să învaț și să experimentez lucruri noi. Sunt o persoană foarte comunicativă și optimistă, iar din acest motiv, eu cred că este ceva ce poate fi realizat în timp.</p>
            </div>
            <div class="div-image-r">
                <img src="../../assets/team.jpeg" alt="" class="image-placement">
            </div>
        </div>
    </div>
</body>
</html>