<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="section-description" class="section-homepage w-container">
        <div class="div-text-l">
            <h1 class="heading-4">
                <strong class="bold-text">🙋🏼‍♂️</strong>
            </h1>
            <h2 class="heading-3">
                <strong class="h1">Cine sunt eu?</strong>
            </h2>
            <p class="text-description">Salut! Numele meu este Cătălin Bera, un tânăr de 23 de ani, pasionat de tehnologie, dar în special de crearea de site-uri web. Sunt și un iubitor de foarte mare de animale, din acest motiv dețin în acest moment patru câini și o pisică. </p>
        </div>
        <div class= "div-image-r">
            <img src="../../assets/image.jpg" alt="" class="image-placement">
        </div>
    </div>
</body>
</html>