<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <nav class="sticky">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="#section-description" class="navigation-item w-nav-link">Description</a></li>
            <li><a href="#section-hobbies" class="navigation-item w-nav-link">Hobbies</a></li>
            <li><a href="#section-education" class="navigation-item w-nav-link">Education</a></li>
            <li><a href="#section-future-plans" class="navigation-item w-nav-link">Future Plans</a></li>
            <li><a href="#section-contact" class="navigation-item w-nav-link">Contact</a></li>
        </ul>
    </nav>
</body>
</html>